<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome to the woof network!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="assets/materialize.min.css" />
            <link rel="stylesheet" href="assets/base_stylesheet.css" />
        {% endblock %}

        {% block javascripts %}
            <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
            <script src="assets/materialize.min.js"></script>
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
